<div
  class="group m-2 flex h-48 cursor-pointer flex-row items-center rounded-xl bg-white shadow-xl ring-1 ring-slate-900/5 hover:bg-blue-500 active:bg-blue-700 dark:bg-slate-800 dark:hover:bg-blue-700 dark:active:bg-blue-900 md:max-w-md"
>
  <img
    src="{{ posterPath }}"
    alt="{{ title }}"
    class="h-full w-36 rounded-l-xl object-fill group-hover:brightness-110"
    *ngIf="posterPath !== 'N/A'"
  />

  <div class="ml-1 flex-row p-2 md:ml-5">
    <div
      class="text-xl font-medium tracking-tight text-slate-900 group-hover:text-white dark:text-white"
    >
      {{ title }}
    </div>
    <p class="text-slate-500 group-hover:text-white dark:text-slate-400">
      {{ year }}
    </p>
  </div>
</div>
